Submission for Leena Godbole
IAC-621 / Homework 1

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import math
from math import sqrt

Q1(30 point): Implement a class for n-sided polygons and a class for points in a Euclidean system, namely polygon and point respectively. For example, a 4-sided polygon can be defined by 4 points P1, P2, P3, P4, and P1-P4 are each points of the form point(X,Y), and X and Y are coordinates on the X and Y axis, respectively. The edges are listed counterclockwise starting at the lower left: P1 to P2, P2 to P3, P3 to P4, and P4 to P1. The polygon class should work for polygons of any number of edges and have a function perimeter that returns its perimeter (sum of the lengths of the edges). (20points)

Hint: use the Pythagorian theorem: if a line segment Z starts at (X1,Y1) and ends at (X2, Y2), the length of Z is the square root of (X1-X2)^2 + (Y1-Y2)^2.

Example: The perimeter of the polygon/triangle on point(1,1), point(1,2), and point(2,2) is 3.4; The perimeter of the 4-sided polygon on point(2,1), point(2,3), point(6,3), and point(4,1) is 10.8; print out these two examples. (10points)

In [2]:
# Class for n-sided polygons which you will input the points as a list:  [(0,1), (1,1), (2,2)]
class polygon:
    def __init__(self, nPoints):
        self.nPoints = nPoints
    
    def perimeter(self):
        perimeterCalc = 0
        for i in range(0, len(self.nPoints)):
            point1 = self.nPoints[i-1]
            point2 = self.nPoints[i]
            
            # Calculated perimeter for each point in the list with the point adjacent to it, and adds them up
            perimeterCalc = point1.distance(point2) + perimeterCalc
            
        return perimeterCalc

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def distance(self, other):   
        # calculates the distance between two points using the pythagorean theorum
        return sqrt((self.x - other.x)**2+(self.y - other.y)**2)

In [3]:
# Polygon 1 

point1 = Point(1,1)
point2 = Point(1,2)
point3 = Point(2,2)

triangle = polygon([point1, point2, point3])
print(triangle.perimeter())

3.414213562373095

In [4]:
# polygon 2
point1 = Point(2,1)
point2 = Point(2,3)
point3 = Point(6,3)
point4 = Point(4,1)

rectangle = polygon([point1, point2, point3, point4])
print(rectangle.perimeter())

10.82842712474619

Q2:

Use Pandas to load both data/AIS/transit_segments.csv, and data/AIS/vessel_information.csv. Show the first 5 rows of each dataset to inspect it.(10points)

In [5]:
transit = pd.read_csv("data/AIS/transit_segments.csv")
vessel = pd.read_csv("data/AIS/vessel_information.csv")

In [6]:
# Changing display size
pd.set_option('display.max_rows', 500)

In [7]:
# To show first five rows, I would keep the default value for head like below
# transit.head()

transit.head(50)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35
5,1,Bil Holman Dredge,1,1,17.4,34.3,33.9,35.0,100.0,3/20/10 16:06,3/20/10 16:36
6,1,Bil Holman Dredge,1,2,76.0,34.4,33.8,34.9,100.0,3/20/10 18:05,3/20/10 18:48
7,1,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,5/4/11 11:28,5/4/11 13:30
8,9,Shearwater,4,1,11.6,8.8,7.9,10.3,0.0,6/5/10 11:23,6/5/10 12:44
9,9,Shearwater,8,1,11.6,8.3,7.4,9.2,0.0,6/8/10 11:03,6/8/10 12:29
10,9,Shearwater,9,1,7.3,0.5,0.0,9.3,0.0,6/14/10 17:07,6/15/10 14:45
11,9,Shearwater,12,1,17.8,8.2,7.3,8.7,0.0,6/17/10 16:35,6/17/10 18:43
12,9,Shearwater,14,1,12.7,7.2,6.4,7.8,0.0,7/11/10 11:51,7/11/10 13:35
13,9,Shearwater,15,1,19.3,9.1,6.5,10.2,5.4,7/12/10 15:33,7/12/10 17:36
14,9,Shearwater,16,1,31.4,0.8,0.0,9.4,0.0,7/20/10 19:23,7/23/10 15:32
15,9,Shearwater,17,1,47.2,3.4,0.0,11.8,25.1,9/10/10 14:00,9/11/10 14:42
16,21,Us Gov Vessel,2,1,48.7,6.6,3.4,16.3,38.4,3/14/11 16:13,3/15/11 0:02
17,21,Us Gov Vessel,3,1,15.1,13.7,10.0,15.1,91.8,3/18/11 11:18,3/18/11 12:26
18,21,Us Gov Vessel,4,1,18.0,9.7,4.6,15.2,76.3,4/25/11 16:37,4/25/11 18:25
19,21,Us Gov Vessel,5,1,11.2,12.9,6.1,15.6,80.7,5/14/11 15:51,5/14/11 16:50
20,21,Us Gov Vessel,6,1,5.8,16.5,15.1,17.4,100.0,5/19/11 12:34,5/19/11 12:56
21,21,Us Gov Vessel,7,1,7.6,10.0,8.8,13.2,11.0,5/23/11 21:29,5/23/11 22:18
22,21,Us Gov Vessel,8,1,11.1,10.4,8.8,11.3,56.6,5/25/11 11:46,5/25/11 12:52
23,21,Us Gov Vessel,9,1,9.8,13.4,5.8,20.8,83.0,6/1/11 14:32,6/1/11 15:19
24,21,Us Gov Vessel,10,1,15.9,15.8,15.4,16.7,100.0,6/7/11 14:43,6/7/11 15:47
25,21,Us Gov Vessel,12,1,25.3,8.3,3.2,20.2,48.7,8/8/11 15:42,8/8/11 18:37
26,21,Us Gov Vessel,17,1,14.3,10.2,2.7,13.2,83.6,9/6/11 20:59,9/6/11 22:53
27,21,Us Gov Vessel,18,1,20.7,9.2,2.2,17.3,61.6,9/8/11 8:22,9/8/11 10:41
28,21,Us Gov Vessel,19,1,19.9,12.7,4.8,17.8,85.8,9/12/11 14:56,9/12/11 16:31
29,21,Us Gov Vessel,20,1,8.6,10.3,3.9,13.9,82.7,10/25/11 12:52,10/25/11 13:39
30,21,Us Gov Vessel,21,1,21.7,11.8,4.0,16.4,83.1,10/26/11 12:37,10/26/11 14:27
31,21,Us Gov Vessel,22,1,10.0,17.4,13.7,19.2,100.0,11/29/11 17:54,11/29/11 18:28
32,21,Us Gov Vessel,23,1,7.0,10.7,5.8,14.7,56.1,11/30/11 14:16,11/30/11 14:57
33,21,Us Gov Vessel,24,1,7.9,12.6,7.4,17.6,83.9,12/1/11 14:03,12/1/11 14:40
34,74,Mcfaul,1,2,1.4,12.8,12.8,12.9,100.0,6/16/09 2:19,6/16/09 2:25
35,74,Sarah Bell,1,1,7.4,12.1,10.1,13.0,100.0,6/16/09 2:26,6/16/09 3:02
36,103,Us Navy Warship 103,1,2,6.0,9.0,8.5,9.6,0.0,12/19/09 11:19,12/19/09 11:59
37,103,Ron G,1,1,87.5,9.2,8.3,9.9,0.0,12/19/09 11:19,12/19/09 20:51
38,103,Ron G,1,3,1.4,9.2,9.1,9.2,0.0,12/19/09 20:55,12/19/09 21:00
39,103,Ron G,2,1,30.7,9.5,9.1,10.1,1.3,12/19/09 23:21,12/20/09 2:34
40,103,Ron G,3,1,33.6,9.6,8.8,10.3,5.2,12/20/09 5:57,12/20/09 9:23
41,103,Ron G,4,1,62.6,8.9,6.8,9.8,0.0,12/20/09 17:57,12/21/09 0:59
42,103,Us Navy Warship 103,2,2,4.9,9.4,9.1,9.5,0.0,12/20/09 17:57,12/20/09 18:29
43,103,Ron G,5,2,59.1,9.2,7.5,9.8,0.0,12/21/09 6:03,12/21/09 12:30
44,103,Ron G,6,2,18.4,8.7,8.1,9.2,0.0,12/22/09 5:39,12/22/09 7:46
45,103,Ron G,8,1,20.5,5.7,4.9,7.0,0.0,9/23/10 19:42,9/23/10 23:13
46,103,Ron G,9,1,20.6,3.8,1.7,6.1,0.0,10/14/10 1:28,10/14/10 6:47
47,103,Us Warship 103,1,1,11.6,14.7,5.4,19.4,91.6,1/23/12 15:11,1/23/12 15:57
48,103,Us Warship 103,2,1,15.8,12.3,5.8,15.2,81.1,4/20/12 12:54,4/20/12 14:15
49,310,Arabella,1,1,30.4,11.0,10.2,12.0,100.0,6/7/09 14:26,6/7/09 17:11

In [8]:
vessel.head(100)

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
0,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing
1,9,3,000000009/Raven/Shearwater,N,Unknown,Unknown,2,50.0/62.0,62.0,2,Pleasure/Tug
2,21,1,Us Gov Vessel,Y,Unknown,Unknown,1,208.0,208.0,1,Unknown
3,74,2,Mcfaul/Sarah Bell,N,Unknown,Unknown,1,155.0,155.0,1,Unknown
4,103,3,Ron G/Us Navy Warship 103/Us Warship 103,Y,Unknown,Unknown,2,26.0/155.0,155.0,2,Tanker/Unknown
5,310,1,Arabella,N,Bermuda,Foreign,1,47.0,47.0,1,Unknown
6,3011,1,Charleston,N,Anguilla,Foreign,1,160.0,160.0,1,Other
7,4731,1,000004731,N,Yemen (Republic of),Foreign,1,30.0,30.0,1,Unknown
8,15151,2,R L Enterkin/Us Vessel,N,Unknown,Unknown,2,60.0/175.0,175.0,1,Tug
9,46809,1,Island Trader,N,Syrian Arab Republic,Foreign,1,22.0,22.0,1,Towing
10,80404,1,Donnamarie,N,Unknown,Unknown,1,29.0,29.0,1,Pleasure
11,82003,1,Alexis,N,Unknown,Unknown,1,29.0,29.0,2,Fishing/Pleasure
12,298716,1,Mitchel,N,Unknown,Unknown,1,35.0,35.0,1,Towing
13,366235,1,Cape Domingo,N,United States of America,Domestic,1,207.0,207.0,1,Cargo
14,439541,2,Canadian Warship 711/L3,Y,Unknown,Unknown,2,0.0/55.0,55.0,2,MilOps/Unknown
15,453556,1,Us Govt Vessel,N,Unknown,Unknown,1,208.0,208.0,1,Unknown
16,505843,1,I.w.haile,N,Unknown,Unknown,1,20.0,20.0,1,WIG
17,527918,1,Salvage Master,N,Unknown,Unknown,1,20.0,20.0,1,Fishing
18,565026,1,Honcho,N,Singapore (Republic of),Foreign,1,32.0,32.0,1,Towing
19,572329,1,Alexandra,N,Tuvalu,Foreign,1,40.0,40.0,1,BigTow
20,587370,1,Dorothy Moran,N,Unknown,Unknown,1,33.0,33.0,1,Tug
21,641114,1,Samantha Miller,N,Unknown,Unknown,1,20.0,20.0,1,Other
22,642262,10,Abdel Rahman K/Al Sayad/Al Zien/Aman/Atlantean...,Y,Socialist People's Libyan Arab Jamahiriya,Foreign,1,55.0,55.0,1,MilOps
23,693559,1,Winslow C Kelsey],N,Unknown,Unknown,1,40.0,40.0,1,Tug
24,883085,1,Us Gov Vessel,Y,Unknown,Unknown,1,205.0,205.0,1,Unknown
25,1193046,168,Albacore/American Freedom/Amsterdam/Amy Choues...,N,Unknown,Unknown,84,20.0/21.0/22.0/23.0/24.0/25.0/26.0/28.0/29.0/3...,669.0,14,BigTow/Cargo/Diving/Dredging/Fishing/MilOps/Ot...
26,1193946,2,Jan Marie/Niz C Gisclair,N,Unknown,Unknown,2,34.0/67.0,67.0,2,Other/Towing
27,1233916,1,Double Barrel,N,Unknown,Unknown,1,20.0,20.0,1,Pleasure
28,1239468,1,Handy Three,N,Unknown,Unknown,1,22.0,22.0,1,Unknown
29,3041300,1,Paz Colombia,N,Antigua and Barbuda,Foreign,1,118.0,118.0,1,Cargo
30,3543200,1,Ubc Miami,N,Panama (Republic of),Foreign,1,108.0,108.0,1,Other
31,3663760,1,President Jackson,N,United States of America,Domestic,1,275.0,275.0,1,Cargo
32,3688360,1,Bob Hope,Y,United States of America,Domestic,1,289.0,289.0,1,Cargo
33,7718175,1,Myra,N,Unknown,Unknown,1,145.0,145.0,1,Cargo
34,8011330,1,Star Evviva,N,Unknown,Unknown,1,180.0,180.0,1,Cargo
35,8616300,1,President Jackson,N,Unknown,Unknown,1,275.0,275.0,1,Cargo
36,8819287,1,Iberian Reefer,N,Unknown,Unknown,1,109.0,109.0,1,Cargo
37,9146601,1,Ljubljana,N,Unknown,Unknown,1,181.0,181.0,1,Cargo
38,9226700,1,Panthera,N,Unknown,Unknown,1,118.0,118.0,1,Cargo
39,9263842,1,Asphaltseminole,N,Unknown,Unknown,1,109.0,109.0,1,Tanker
40,9263942,2,Asphalt Seminole/Asphaltseminole,N,Unknown,Unknown,1,109.0,109.0,1,Tanker
41,11813100,1,Gale Winds,N,Unknown,Unknown,1,33.0,33.0,1,Pleasure
42,12345678,3,012345678/Bluefin/Lisa Marie,N,Unknown,Unknown,3,22.0/25.0/55.0,55.0,3,Fishing/Other/Towing
43,21021000,1,Pontoklydon,N,Cyprus (Republic of),Foreign,1,169.0,169.0,1,Cargo
44,21846000,1,Islandia,N,Germany (Federal Republic of),Foreign,1,148.0,148.0,1,Cargo
45,23787800,1,Chrysoula S,N,Greece,Foreign,1,189.0,189.0,1,Cargo
46,23814000,1,Split,N,Croatia (Republic of),Foreign,1,187.0,187.0,1,Cargo
47,24417800,1,Maas Trader,N,Netherlands (Kingdom of the),Foreign,1,139.0,139.0,1,Cargo
48,24663800,1,Ubc Miami,N,Netherlands (Kingdom of the),Foreign,1,108.0,108.0,1,Other
49,25762700,1,Star Evviva,N,Norway,Foreign,1,180.0,180.0,1,Cargo
50,25874000,1,Star Florida,N,Norway,Foreign,1,187.0,187.0,1,Cargo
51,25895400,1,Star Herdla,N,Norway,Foreign,1,198.0,198.0,1,Cargo
52,25980300,1,Sks Trent,N,Norway,Foreign,1,243.0,243.0,1,Tanker
53,30422500,1,Panthera,N,Antigua and Barbuda,Foreign,1,118.0,118.0,1,Cargo
54,30447300,1,Jana,N,Antigua and Barbuda,Foreign,1,132.0,132.0,1,Cargo
55,30453000,1,Cscl Jakarta,N,Antigua and Barbuda,Foreign,1,208.0,208.0,1,Cargo
56,30474600,1,Bbc Plata,N,Antigua and Barbuda,Foreign,1,139.0,139.0,1,Cargo
57,30537500,1,Leandra,N,Antigua and Barbuda,Foreign,1,146.0,146.0,1,Cargo
58,31944000,1,Silver Cloud,N,Cayman Islands,Foreign,1,41.0,41.0,1,Pleasure
59,35517401,2,P/b Phantom/Phantom,N,Panama (Republic of),Foreign,1,20.0,20.0,1,Passenger
60,36376000,1,President Jackson,N,Unknown,Unknown,1,275.0,275.0,1,Cargo
61,36637600,1,Jackson,N,United States of America,Domestic,1,276.0,276.0,1,Cargo
62,36676000,1,President Jackson,N,United States of America,Domestic,1,275.0,275.0,1,Cargo
63,36690000,1,Laboon,N,United States of America,Domestic,1,175.0,175.0,1,Unknown
64,36701490,1,John Parrish,N,United States of America,Domestic,1,28.0,28.0,1,Towing
65,36708110,1,Big Stone Express,N,United States of America,Domestic,1,25.0,25.0,1,Unknown
66,36713668,1,St Louis Express,N,United States of America,Domestic,1,83.0,83.0,1,Cargo
67,36729000,2,Cgc Tampa/Coast Guard 902,Y,United States of America,Domestic,1,65.0,65.0,1,SAR
68,36738443,1,Co,N,United States of America,Domestic,2,0.0/33.0,33.0,1,Tug
69,36739381,2,Baylee Beyel/Megan Beyel,N,United States of America,Domestic,2,25.0/30.0,30.0,2,Towing/Tug
70,36742760,1,Whitehawk,N,United States of America,Domestic,1,33.0,33.0,1,Pleasure
71,36968098,1,Navy Unit 52,N,United States of America,Domestic,1,184.0,184.0,1,Tanker
72,37067700,1,Orient Dream,N,Panama (Republic of),Foreign,1,176.0,176.0,1,Cargo
73,37408990,1,Singleton,N,Unknown,Unknown,1,28.0,28.0,1,Tug
74,47760750,1,Yue Liang Wan,N,Hong Kong (Special Administrative Region of Ch...,Foreign,1,136.0,136.0,1,Tanker
75,53890215,1,Ecem Kalkavan,N,Marshall Islands (Republic of the),Foreign,1,148.0,148.0,1,Cargo
76,63609163,1,Vega Nikolas,N,Liberia (Republic of),Foreign,1,139.0,139.0,1,Cargo
77,63609632,1,Safmarin Cunene,N,Liberia (Republic of),Foreign,1,211.0,211.0,1,Cargo
78,67423560,1,Miss Stacy,N,Tanzania (United Republic of),Foreign,1,20.0,20.0,1,Other
79,68962000,1,Nike,N,Unknown,Unknown,1,343.0,343.0,1,Unknown
80,94429096,1,The Highlander,N,Unknown,Unknown,1,49.0,49.0,1,Pleasure
81,95477672,1,The Highlander,N,Unknown,Unknown,1,49.0,49.0,1,Pleasure
82,100000000,3,S/y Avalon/Sjokrigsskolen/Symmetry,N,Unknown,Unknown,3,27.0/30.0/35.0,35.0,3,Passenger/Pleasure/Sailing
83,110000000,1,Shuman,N,Unknown,Unknown,1,21.0,21.0,1,Other
84,110010010,2,Cathleen E.moran/Cathleen Moran,N,Unknown,Unknown,1,34.0,34.0,2,BigTow/Tug
85,111111111,12,Gallant Lady/Grenadier/Island Progress/Mr Sche...,N,Unknown,Unknown,11,20.0/21.0/23.0/24.0/30.0/32.0/33.0/35.0/40.0/8...,155.0,9,Cargo/Fishing/MilOps/Other/Pleasure/Sailing/Sp...
86,111111119,1,Indiscretion,N,Unknown,Unknown,1,35.0,35.0,1,Pleasure
87,111111245,1,\m/- /+,N,Unknown,Unknown,1,32.0,32.0,1,Tanker
88,111850000,2,Fast Bullet/Mv Endless Summer,N,Unknown,Unknown,2,38.0/50.0,50.0,2,Passenger/Pleasure
89,123456789,33,Aschanti/Caa/Cielo Mare/David Mcallister/First...,N,Unknown,Unknown,13,20.0/21.0/22.0/25.0/30.0/31.0/32.0/33.0/35.0/3...,55.0,11,AntiPol/BigTow/Fishing/Other/Passenger/Pilot/P...
90,191283710,1,Pyxis,N,Unknown,Unknown,1,30.0,30.0,1,Fishing
91,192837465,1,Edward J,N,Unknown,Unknown,1,23.0,23.0,1,Pleasure
92,205066000,1,Lowlands Patrasche,N,Belgium,Foreign,1,190.0,190.0,1,Cargo
93,205250000,1,Fmg Matilda,N,Belgium,Foreign,1,276.0,276.0,1,Cargo
94,205351000,1,Excel,N,Belgium,Foreign,1,277.0,277.0,1,Tanker
95,205421000,1,Excalibur,N,Belgium,Foreign,2,276.0/277.0,277.0,1,Tanker
96,205434000,1,Excellence,N,Belgium,Foreign,1,277.0,277.0,1,Tanker
97,205445000,1,Excelerate,N,Belgium,Foreign,1,277.0,277.0,1,Tanker
98,205493000,1,Safmarine Ngami,N,Belgium,Foreign,1,210.0,210.0,1,Cargo
99,205506000,1,S/s Explorer,N,Belgium,Foreign,2,277.0/291.0,291.0,1,Tanker

For data/AIS/vessel_information.csv, keep only those rows with the type value occurring for at least 100 times in the dataset.

In [9]:
# Checking the shape of the vessel df
np.shape(vessel)

(10771, 11)

In [10]:
# Checking how many unique values are in each row for the vessel df
vessel.nunique()

mmsi         10771
num_names       14
names        10253
sov              2
flag           110
flag_type        3
num_loas        14
loa           1265
max_loa        347
num_types        8
type           206
dtype: int64

In [11]:
# Looking at which types of vessels are used >100 times

vessel.value_counts('type')

type
Cargo                                                                                                   5622
Tanker                                                                                                  2440
Pleasure                                                                                                 601
Tug                                                                                                      221
Sailing                                                                                                  205
Fishing                                                                                                  200
Other                                                                                                    178
Passenger                                                                                                150
Towing                                                                                                   117
Unknown                                                                                                  106
MilOps                                                                                                    82
Cargo/Unknown                                                                                             79
Cargo/Other                                                                                               63
Cargo/Tanker                                                                                              42
Tanker/Unknown                                                                                            30
Towing/Tug                                                                                                30
BigTow                                                                                                    29
Dredging                                                                                                  24
Fishing/Pleasure                                                                                          24
Reserved                                                                                                  20
BigTow/Towing                                                                                             19
Cargo/Reserved                                                                                            19
Other/Tanker                                                                                              16
BigTow/Tug                                                                                                15
Cargo/MilOps                                                                                              15
Tug/Unknown                                                                                               15
HSC                                                                                                       14
SAR                                                                                                       13
Other/Pleasure                                                                                            11
BigTow/Towing/Tug                                                                                         11
MilOps/Unknown                                                                                            10
Pleasure/Sailing                                                                                          10
Towing/Unknown                                                                                            10
Other/Tug                                                                                                  9
Pleasure/Unknown                                                                                           9
Law                                                                                                        8
Passenger/Pleasure                                                                                         8
Pilot                                                                                                      7
AntiPol                                                                                                    6
WIG                                                                                                        6
Pleasure/Towing                                                                                            5
Cargo/WIG                                                                                                  5
Passenger/Unknown                                                                                          5
Towing/Tug/WIG                                                                                             5
Towing/Tug/Unknown                                                                                         5
Tanker/Tug                                                                                                 5
HSC/MilOps                                                                                                 4
Other/Passenger                                                                                            4
Pilot/Tug                                                                                                  4
Cargo/Pleasure                                                                                             4
Dredging/Fishing                                                                                           4
Cargo/Passenger                                                                                            4
Reserved/Tanker                                                                                            4
MilOps/Other                                                                                               4
Law/Unknown                                                                                                4
Cargo/Dredging/Other                                                                                       4
Tug/WIG                                                                                                    4
Other/Towing                                                                                               4
MilOps/SAR                                                                                                 3
BigTow/Reserved/Towing                                                                                     3
MilOps/SAR/Unknown                                                                                         3
Law/MilOps                                                                                                 3
Fishing/Other                                                                                              3
Fishing/Unknown                                                                                            3
Diving                                                                                                     3
BigTow/Towing/Unknown                                                                                      3
Reserved/Unknown                                                                                           3
Other/Unknown                                                                                              3
Towing/WIG                                                                                                 3
Cargo/Other/Unknown                                                                                        3
Fishing/Towing                                                                                             3
Fishing/Reserved                                                                                           3
Passenger/Pilot                                                                                            2
Other/Reserved                                                                                             2
Fishing/Tug                                                                                                2
BigTow/Tanker/Towing                                                                                       2
BigTow/Cargo                                                                                               2
Towing/Tug/Unknown/WIG                                                                                     2
Law/MilOps/Other                                                                                           2
Law/MilOps/SAR                                                                                             2
Law/MilOps/Unknown                                                                                         2
Law/SAR                                                                                                    2
Resol-18                                                                                                   2
Other/Towing/Tug                                                                                           2
Pleasure/Tug                                                                                               2
Other/Sailing                                                                                              2
Pleasure/Reserved                                                                                          2
Passenger/Reserved                                                                                         2
Other/Towing/Unknown                                                                                       2
MilOps/Reserved                                                                                            2
BigTow/Towing/Tug/WIG                                                                                      2
Dredging/Unknown                                                                                           2
Cargo/Tug                                                                                                  2
Fishing/Pilot/Tug                                                                                          2
Cargo/Pilot                                                                                                2
BigTow/Tug/Unknown                                                                                         1
Reserved/Tanker/Towing/Tug                                                                                 1
Reserved/Towing/Tug                                                                                        1
Reserved/Tug                                                                                               1
Cargo/MilOps/Unknown                                                                                       1
BigTow/Other                                                                                               1
BigTow/Tug/WIG                                                                                             1
Resol-18/Tanker                                                                                            1
BigTow/MilOps/Towing                                                                                       1
SAR/Tanker                                                                                                 1
SAR/Tug                                                                                                    1
BigTow/MilOps/Tug                                                                                          1
BigTow/Tanker/Tug                                                                                          1
Cargo/Other/Reserved                                                                                       1
BigTow/Fishing/Tug                                                                                         1
Cargo/Other/Towing                                                                                         1
Pleasure/Tender                                                                                            1
BigTow/Other/Reserved/Tug                                                                                  1
BigTow/Other/Towing                                                                                        1
BigTow/Towing/WIG                                                                                          1
Pilot/Towing/Tug                                                                                           1
Pilot/SAR/Unknown                                                                                          1
BigTow/Other/Towing/WIG                                                                                    1
Cargo/Reserved/Unknown                                                                                     1
Passenger/Tanker                                                                                           1
SAR/Unknown                                                                                                1
Sailing/Spare                                                                                              1
Cargo/Resol-18/Unknown                                                                                     1
Sailing/Tanker                                                                                             1
AntiPol/Fishing/Pleasure                                                                                   1
Cargo/Diving/Other                                                                                         1
Tug/Unknown/WIG                                                                                            1
AntiPol/MilOps/Unknown                                                                                     1
AntiPol/Other                                                                                              1
Cargo/Dredging                                                                                             1
Towing/Unknown/WIG                                                                                         1
Cargo/Fishing                                                                                              1
Cargo/Fishing/MilOps/Other                                                                                 1
Cargo/Fishing/MilOps/Other/Pleasure/Sailing/Spare/Tender/Towing                                            1
Cargo/Fishing/Other/Pleasure/Unknown                                                                       1
BigTow/Cargo/Diving/Dredging/Fishing/MilOps/Other/Passenger/Pilot/Pleasure/Sailing/Tanker/Towing/Tug       1
BigTow/Cargo/Dredging/Reserved                                                                             1
Tender                                                                                                     1
Tanker/WIG                                                                                                 1
BigTow/Cargo/Unknown                                                                                       1
Tanker/Tug/WIG                                                                                             1
Cargo/HSC                                                                                                  1
Tanker/Towing/Tug/WIG                                                                                      1
Tanker/Towing/Tug/Unknown/WIG                                                                              1
Tanker/Towing                                                                                              1
BigTow/Fishing/Towing                                                                                      1
Spare                                                                                                      1
Sailing/WIG                                                                                                1
Sailing/Unknown                                                                                            1
Passenger/Sailing                                                                                          1
BigTow/Other/Tug/Unknown/WIG                                                                               1
Passenger/Pleasure/Sailing                                                                                 1
HSC/Unknown                                                                                                1
Dredging/Other/Unknown                                                                                     1
BigTow/Sailing/Towing/Tug                                                                                  1
Medical                                                                                                    1
Dredging/Tanker                                                                                            1
Law/Other/Tanker                                                                                           1
BigTow/Tanker/WIG                                                                                          1
Fishing/Law                                                                                                1
Law/MilOps/Reserved/SAR/Tanker                                                                             1
Fishing/MilOps                                                                                             1
Fishing/MilOps/Pilot                                                                                       1
Fishing/Other/Towing                                                                                       1
HSC/Pleasure                                                                                               1
MilOps/Other/Tanker                                                                                        1
AntiPol/BigTow/Fishing/Other/Passenger/Pilot/Pleasure/Resol-18/Sailing/Towing/Tug                          1
BigTow/Tanker/Towing/Tug                                                                                   1
Fishing/Passenger                                                                                          1
Fishing/Passenger/Pleasure                                                                                 1
Fishing/Towing/Tug/WIG                                                                                     1
Fishing/Towing/Tug                                                                                         1
Fishing/Tanker                                                                                             1
Fishing/Sailing                                                                                            1
Fishing/SAR/Unknown                                                                                        1
Fishing/SAR/Tug                                                                                            1
Fishing/Reserved/Towing                                                                                    1
MilOps/Other/Reserved/SAR                                                                                  1
MilOps/Other/Towing                                                                                        1
Fishing/Pilot/Unknown                                                                                      1
Diving/Other                                                                                               1
Cargo/Sailing                                                                                              1
BigTow/Pleasure/Reserved/Towing/Tug                                                                        1

In [13]:
# Creating list of vessels > 100

vesselsKeep = ['Cargo',
               'Tanker',
               'Pleasure',
               'Tug',
               'Sailing',
               'Fishing',
               'Other',
               'Passenger',
               'Towing',
               'Unknown'
              ]

In [14]:
# Creating a new DF that only has the vessels defined in vesselsKeep

vessel_100 = vessel.loc[vessel['type'].isin(vesselsKeep)]

#df.loc[df['col1'].isin([value1, value2, value3, ...])]

In [17]:
# Verifying that the new df (vessel_100) actually populated
vessel_100.head()

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
2,21,1,Us Gov Vessel,Y,Unknown,Unknown,1,208.0,208.0,1,Unknown
3,74,2,Mcfaul/Sarah Bell,N,Unknown,Unknown,1,155.0,155.0,1,Unknown
5,310,1,Arabella,N,Bermuda,Foreign,1,47.0,47.0,1,Unknown
6,3011,1,Charleston,N,Anguilla,Foreign,1,160.0,160.0,1,Other
7,4731,1,000004731,N,Yemen (Republic of),Foreign,1,30.0,30.0,1,Unknown

In [16]:
# Verifying that vessel_100 only has the vessel types we wanted

vessel_100.value_counts('type')

# looks like it worked!

type
Cargo        5622
Tanker       2440
Pleasure      601
Tug           221
Sailing       205
Fishing       200
Other         178
Passenger     150
Towing        117
Unknown       106
dtype: int64

Q2(10points)
Merge data/AIS/vessel_information.csv and data/AIS/transit_segments.csv on the "mmsi" column using outer join. (10points)
If you are not allowed to call the inner join provided by Pandas but have the above outer join results, how to get the results of inner join? You can use other functions provided by Pandas (but not a function that directly implements the inner join).

In [21]:
dfOuterJoin=transit.join(vessel, lsuffix="_left", rsuffix="_right", how='outer')

In [22]:
dfOuterJoin.head()

,mmsi_left,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,...,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,...,8.0,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7.0,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4.0,Dredging/MilOps/Reserved/Towing
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,...,3.0,000000009/Raven/Shearwater,N,Unknown,Unknown,2.0,50.0/62.0,62.0,2.0,Pleasure/Tug
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,...,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,Unknown
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,...,2.0,Mcfaul/Sarah Bell,N,Unknown,Unknown,1.0,155.0,155.0,1.0,Unknown
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,...,3.0,Ron G/Us Navy Warship 103/Us Warship 103,Y,Unknown,Unknown,2.0,26.0/155.0,155.0,2.0,Tanker/Unknown

In [23]:
# To make an inner join I will use the following:
dfInnerJoin = pd.merge(vessel, transit,on='mmsi')

In [24]:
dfInnerJoin.head(10)

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,...,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35
5,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Bil Holman Dredge,1,1,17.4,34.3,33.9,35.0,100.0,3/20/10 16:06,3/20/10 16:36
6,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,Bil Holman Dredge,1,2,76.0,34.4,33.8,34.9,100.0,3/20/10 18:05,3/20/10 18:48
7,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,...,S.d. Gumel,1,1,13.7,6.9,3.0,14.0,38.2,5/4/11 11:28,5/4/11 13:30
8,9,3,000000009/Raven/Shearwater,N,Unknown,Unknown,2,50.0/62.0,62.0,2,...,Shearwater,4,1,11.6,8.8,7.9,10.3,0.0,6/5/10 11:23,6/5/10 12:44
9,9,3,000000009/Raven/Shearwater,N,Unknown,Unknown,2,50.0/62.0,62.0,2,...,Shearwater,8,1,11.6,8.3,7.4,9.2,0.0,6/8/10 11:03,6/8/10 12:29

In [28]:
#checking the shapes of the inner and outer join to make sure they are different

dfInnerJoin.shape

(262353, 21)

In [27]:
dfOuterJoin.shape

(262526, 22)

(10points)
Now directly call the inner join provided by Pandas, check whether your results above are exactly the same.(10points)

In [29]:
dfInnerJoin2=transit.join(vessel, lsuffix="_left", rsuffix="_right", how='inner')

In [30]:
dfInnerJoin2.shape

(10771, 22)

In [ ]:
#The results from these two inner joins are different, as the shapes are very different